{% extends 'base.html' %}


{% block title %}

  {{user.username}} - about
 
{% endblock title %}


{% block content %}
    
    {% for  post in user.post_set.all  %} 
      
       <div>
        <a href = {% url  'post_detail' post.pk %} class = 'btn btn-primary' > {{post.title}}</a>
        <a href = "{% url 'post_delete' post.pk %}" class ="btn btn-danger">delete</a>
        
       </div>
       
    
    {% endfor %}
    <a  href = "{{request.META.HTTP_REFERER}}", class = 'btn btn-success'>Back</a>
{% endblock %}
 